.search-bar {
  /* border: 1px solid currentColor;
  border-radius: 10px; */
  outline: none;
  background-color: transparent;
  border-width: 2px;
  padding-top: 15px;
}

.search-bar-icon {
  border: 2px solid white;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  height: 50px;
}

input::placeholder {
    /* color: white; */
    font-size: 15px;
    font-weight: bold;
}

.search-bar {
    color: white; 
    font-size: 15px;
    font-weight: bold;
}

.searchicon {
  width:40px; 
  height: 40px;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  z-index: 8;
}





