.btn-container {
    display: flex;
    position:relative;
    flex-direction: 'row';
    align-items: center;
}

.like-image {
    display:flex;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-bottom: 30px;
    float:left;
}

.dislike-image {
    display:flex;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-bottom: 30px;
    float:left;
}

.like-button {
    display: flex;
    /* border: 2px solid black;
    border-color:red; */
    background-color: transparent;
    color:white;
    height: 40px;
    text-align: center;
    padding-top:10px;
    padding-left: 10px;
    padding-right:10px;
    margin-left:-50px;  

}

.dislike-button {
    display: flex;
    /* border: 2px solid black;
    border-color:red; */
    background-color: transparent;
    color:black;
    height: 40px;
    text-align: center;
    padding-left:4px;
    padding-top:10px;
    padding-right:15px;
    margin-left:10px;  
}

.like-count {
    padding-top:3px;
    padding-left: 5px;
}

.dislike-count {
    padding-top:3px;
    padding-left: 10px;
}

.like-active {
    background-color: #831010;
}

.dislike-active {
    background-color:#dedede;
}