.forumspage{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   overflow: hidden;
}

.show-title {
   font-family: "Arial";
   font-weight: 800;
   font-size: 30px;
   color: white;
}

.selections {
   display: flex;
   padding-right: 10px;
}

.dropdownSeason, .dropdownEpisode {
   margin-right: 10px;
}

.newpost-logic {
   display:flex;
   margin-left: 10px;
}

.newpost {
  display:flex;
}

.button-go {
   display: flex;
   align-items: center;
   border: 2px solid black;
   color: black;
   padding: 14px 28px;
   font-size: 16px;
   cursor: pointer;
   border-color: #D81F26;
   color: #D81F26;
   background-color: transparent;
}

.newpost-button {
   border: 2px solid black;
   color: black;
   padding: 14px 28px;
   font-size: 16px;
   cursor: pointer;
   border-color: #D81F26;
   color: #D81F26;
   background-color: transparent;
}

.post-cards {
   background-color: #43465e;
   margin-bottom: 20px;
}

.post-cards-content {
   background-color: #43465e;
}

.display-username {
   font-size: 17px;
   font-weight: 700;
   color:white;
}

.display-title {
   font-size: 16px;
   font-weight: 600;
   margin-left:20px;
   color:white;
}

.display-content {
   font-size: 15px;
   margin-left:20px;
   color:white;
}

.forum-posts {
   justify-content: center;
}