  .homepage {
    background-color: black;
    display:flex;
    flex-direction: row;

  }
  
  .btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Green */
  .success {
    border-color: #D81F26;
    color: #D81F26;
    background-color: transparent;
  }

  .info {
    border-color: #2196F3;
    color: dodgerblue
  }

  .search-bar {
    padding-right: 30px;
    /*padding-bottom: 50px;*/
  }
  .search-and-login {
    display:flex;    
    margin-left:auto;
  }
  .login-buttons {
    padding-top: 7px;
  }

